/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
@import url("ember-toastr");

/* Sidebar Styles */
.sidebar {
  width: 250px; /* Adjust the width as needed */
  background-color: #333; /* Sidebar background color */
  color: #fff; /* Text color */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; /* Make the sidebar full height */
  font-size: 1.1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  height: auto;
}

.sidebar a {
  color: #fff; /* Sidebar link color */
  text-decoration: none;
  display: block;
  height: auto;
  padding: 10px 20px;
  margin-bottom: 10px;
}

/* Main Content Area Styles */
.main-content {
  margin-left: 250px; /* Adjust this to match the sidebar width + some spacing */
  padding: 0;
}

/* Add a hover effect to sidebar links */
.sidebar a:hover {
  background-color: #555; /* Hover background color */
  border-radius: 5px;
}

/* Optional: Add a transition effect for smoother hover */
.sidebar a {
  transition: background-color 0.3s ease;
}

.sidebar ul a.active {
  background-color: #007bff; /* Background color for active link */
  border-radius: 10px;

  /* Add any additional styles for the active link here */
}

.student-container {
  display: flex;
  width: 100%;
}

.student-list {
  width: 30%;
  border-right: 1px solid #f4eeee;
  height: 100vh;
}

.detail-view {
  width: 70%;
}

.header-container {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.name-title {
  font-weight: bold;
}

.detail-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ede6e6;
  padding: 10px;
  border: 1px solid gray;
  margin: 5px;
  background: #333;
  color: white;
}

.detail-header-sub {
  display: flex;
  justify-content: space-between;
}

.detail-body {
  padding: 10px;
}

.header {
  font-size: 1rem;
  font-weight: 600;
  margin: 15px 0;
}

.field-label {
  color: #777;
}

.form-group {
  margin: 10px;
}

.form-field-label {
  display: inline-block;
  font-weight: 300;
  margin-bottom: 10px;
  color: #9b9b9b;
}

.fixed-header {
  width: 100%;
  background: #333;
  color: white;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  position: fixed;
  top: 0;
}

.x-icon {
  position: fixed;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
}

.form-body {
  margin: 60px 0;
  overflow-y: auto;
}

#save-btn {
  background-color: #333;
  border-color: gray;
}

#cancel-btn {
  background-color: white;
  color: black; /* Remove default button border */
  border-color: gray;
}

.save-footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  background: white;
  width: 100%;
}

.table-layout {
  padding: 10px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.w3-bar-sub {
  border: 1px solid #dad8d8 !important;
  border-radius: 5px !important;
  margin-bottom: 10px;
}

.w3-ul-sub {
  padding: 5px !important;
}

.no-data {
  text-align: center;
}

.active {
  background-color: #0d6efd;
  color: white;
}

.input-search {
  height: 35px;
  border: 1px solid #d8d3d3;
  padding: 10px;
}

.w3-bar-sub:hover {
  background-color: #0d6efd;
  cursor: pointer;
  color: white;
}

.err-msg {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
  z-index: 9998;
}

.loader {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
