<table id="bootstrap-table" data-toggle="table" data-search="true" data-sortable="true">
  <thead>
    <tr>
      <th data-field="id" data-sortable="true">ID</th>
      <th data-field="name" data-sortable="true">Name</th>
      <th data-field="email" data-sortable="true">Email</th>
    </tr>
  </thead>
  <tbody>
    {{!-- {{#each this.model as |item|}} --}}
      <tr>
        {{!-- <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td> --}}
         <td>1</td>
        <td>AK</td>
        <td>mail</td>
      </tr>
    {{!-- {{/each}} --}}
  </tbody>
</table>
